aeronomos/model/src/main/xsd/messaging-configuration.xsd

<xs:schema targetNamespace="http://model.aeronomos.com/configuration"
	xmlns:config="http://model.aeronomos.com/configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="messaging-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="messaging-port" type="xs:int" />
				<xs:element name="messaging-transport" type="xs:string" />
				<xs:element name="messaging-host" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
